<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.OVSepPOSTConnectionString"
            connectionString="Data Source=D2K62\SQLEXPRESS;Initial Catalog=OVSepPOST;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>